@media screen and (max-width: 999px) {
  .test {
    margin-top: 8%;
  }
}
@media screen and (max-width: 604px) {
  .test {
    margin-top: 11%;
  }
}
@media screen and (max-width: 500px) {
  .test {
    margin-top: 16%;
  }
}
@media screen and (max-width: 340px) {
  .test {
    margin-top: 20%;
  }
}
