* {
  padding: 0;
  margin: 0;
}

:root {
  --c-brand: #0a5999;
  --c-brand-light: #60a6e7;
  --c-brand-light-hover: #60a6e7b3;
  /* --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08); */
  --c-border-bottom: 1px solid rgba(255, 255, 255, 0.318);
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  --transition: all 0.5s ease;
}
body {
  background: var(--c-brand);
  /* overflow: hidden; */
}

img {
  max-width: 100%;
  /* height: auto; */
}
.translateY:hover {
  transform: translateY(-5%);
}
.transition {
  transform: var(--transition);
}
.btn {
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
}
.btn-brand {
  background-color: var(--c-brand-light);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-brand:hover {
  background-color: var(--c-brand-light-hover);
  color: black;
}
/* NAV */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s ease;
}
.navbar-nav .nav-link {
  color: white;
  font-weight: 700;
  margin: 0rem 1rem 0rem 0rem;
  font-style: italic;
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  color: black;
}
.logo-icon {
  width: 70%;
}
.navbar-toggler {
  color: #a335d387;
  background-color: #a335d358;
  border: 2px solid wheat;
}
.scrolled {
  color: #212529;
  background: linear-gradient(white, rgba(255, 255, 255, 0.51));
  box-shadow: var(--box-shadow);
  padding-top: 6px;
  padding-bottom: 6px;
  z-index: 100;
}
.scrolled .navbar-nav .nav-link {
  color: #212529;
}
/* BODY */
.landing-container {
  border-bottom: var(--c-border-bottom);
}
#hero {
  background-color: var(--c-brand);
  /* overflow: hidden; */
}

.hero-content h1 {
  font-size: 3.6em;
  font-weight: 800;
}
.hero-content p {
  font-size: 1.3em;
  font-weight: 300;
}

/*  */
.hero-images {
  position: relative;
  height: 100%;
}

.img-1 {
  top: 100%;
  bottom: 0;
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-2 {
  width: 75%;
  height: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 3%;
  right: -16%;
}

.line-img {
  background-image: url(/img/3-_1_.jpg);
  background-position: center;
  background-size: cover;
}

/* ABOUT US */

.about-section {
  min-height: 100vh;
  width: 100%;
  padding: 3vh;
  border-bottom: var(--c-border-bottom);
}

.about-container {
  min-height: 80vh;
  border: 1px solid rgba(255, 255, 255, 0.446);
}

.about-container p {
  color: rgba(255, 255, 255, 0.755);
  font-weight: 600;
  font-size: smaller;
}

.about-container h1 {
  color: white;
  font-size: x-large;
  font-weight: 800;
}

.about-us-img-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: var(--transition);
  box-shadow: none;
}
/* //ABOUT US */

/* WEB DEVELOPMENT SECTION */
.web-development-section {
  min-height: 100vh;
  width: 100%;
  padding: 3vh;
  border-bottom: var(--c-border-bottom);
}
.web-development-section .container-title h1 {
  color: white;
  font-size: x-large;
  font-weight: 800;
}

.web-deve-card-blue {
  min-height: 70%;
  background: white;
  box-shadow: var(--box-shadow);
  background: linear-gradient(#7aa1eb, #15469f);
  transition: var(--transition);
}
.web-deve-card-yellow {
  min-height: 70%;
  background: white;
  box-shadow: var(--box-shadow);
  background: linear-gradient(#f5d92f, #f3ac0e);
  transition: var(--transition);
}
.web-deve-card-blue:hover {
  bottom: 10px;
}

/* BLUE CARD */
.web-deve-card-blue .product-img {
  width: 100%;
  max-height: 30%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  max-height: 40vh;
}
.web-deve-card-blue .content-title h6 {
  font-size: medium;
  color: rgba(255, 255, 255, 0.835);
}
/* YELLOW CARD */
.web-deve-card-yellow .product-img {
  width: 100%;
  max-height: 30%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  max-height: 40vh;
}
.web-deve-card-yellow .content-title h6 {
  font-size: medium;
  color: rgba(255, 255, 255, 0.835);
}

.translateY-yellow:hover {
  transform: translateY(-5%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, #f3ac0e 0px -3px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.translateY-blue:hover {
  transform: translateY(-5%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, #44629b 0px -3px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* \\WEB DEVELOPMENT SECTION */

/* HOSTING */
.hosting-section {
  min-height: 60vh;
  width: 100%;
  padding: 3vh;
  border-bottom: var(--c-border-bottom);
}
.hosting-section .container-title h1 {
  color: white;
  font-size: x-large;
  font-weight: 800;
}
.hosting-section .content-box {
  background-color: #325ca0;
  min-height: 40vh;
}
.content-box {
  transition: var(--transition);
}
.content-box .content {
  width: 100%;
  height: 40vh;
  background: linear-gradient(#3d6fc5ce, #071c3fd1), url(/img/10.png);
  background-position: center;
  background-size: cover;
  box-shadow: var(--box-shadow);
}
.content-box .content h5 {
  color: white;
  font-weight: 800;
  font-size: larger;
}
.content-box .content p {
  color: rgba(255, 255, 255, 0.765);
  font-weight: 600;
  font-size: smaller;
}
/* HOSTING */
